<!-- Check http://getbootstrap.com/docs/4.1/getting-started/introduction/ to understand how layout works -->

<h2><%= @dialog.name %></h2>

<div class="row">
  <div class="col-lg-4">
    <dl class="row">
      <dt class="col-3">Duration</dt>
      <dd class="col-9"><%= @dialog.duration %></dd>
      <dt class="col-3">Total Phrases</dt>
      <dd class="col-9"><%= @dialog.total_phrases %></dd>
    </dl>
  </div>

  <div class="col-lg-4">
    <dl class="row">
      <dt class="col-3">Interruptions</dt>
      <dd class="col-9"><%= @dialog.interruptions %></dd>
      <dt class="col-3">Long breaks</dt>
      <dd class="col-9"><%= @dialog.long_breaks %></dd>
    </dl>
  </div>

  <div class="col-lg-4">
    <div class="alert alert-danger" role="alert">This is interruption</div>
    <div class="alert alert-warning" role="alert">This is long break (more than 5 seconds)</div>
  </div>
</div>

<hr>

<% @dialog.phrases.each_with_index do |phrase, index| %>
  <div class="alert<%= ' alert-danger' if phrase.is_interruption %><%= ' alert-warning' if phrase.is_long_break %>" role="alert">
    <%= phrase.actor %>: <%= phrase.content %>
  </div>
<% end %>
